<h2>Pick a category:</h2>
<br>
<br>
<div class="container-fluid">
	<div class="padded-boxes">
		<a class="click" href="taxes">Taxes</a>
		<a class="click" href="calculators">Calculators</a>
		<a class="click" href="fees">Fees</a>
	</div>
</div>
